<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Product</title>
</head>
<body>
    <h1 class="">add new product</h1>
    <form action="/products" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="brand">Brand</label>
        <input type="text" name="brand" id="brand">
        <br>
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <br>
        <label for="category">kategori</label>
        <select name="category" id="category">
            <option value="Aksesoris">Aksesoris</option>
            <option value="Baju">Baju</option>
            <option value="Celana">Celana</option>
            <option value="Jaket">Jaket</option>
            <option value="Topi">Topi</option>
        </select>
        <br>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>